<app-navbar></app-navbar>
<div class="row buttons">
  <div class="col-3">
    <button type="button" (click)="breakfast()" class="btn btn-lg btn-outline-danger" aria-disabled="true">Desayuno</button>
  </div>
  <div class="col-3">
    <button type="button" (click)="dinner()" class="btn btn-lg btn-outline-danger" aria-disabled="true">Comida y cena</button>
  </div>
</div>
<div class="menu1" *ngIf="isBreakfast">
  <app-breakfast></app-breakfast>
</div>
<div class="men2" *ngIf="isDinner">
  <app-dinner></app-dinner>
</div>
