<app-navbar></app-navbar>
<div class="row buttons">
  <div class="col-3">
    <button type="button" (click)="breakfast()" class="btn btn-lg btn-outline-danger" aria-disabled="true">Desayuno</button>
  </div>
  <div class="col-3">
    <button type="button" (click)="dinner()" class="btn btn-lg btn-outline-danger" aria-disabled="true">Comida y cena</button>
  </div>
</div>
<div class="menu1" *ngIf="isBreakfast">
  <app-breakfast></app-breakfast>
</div>
<div class="menu2" *ngIf="isDinner">
  <app-dinner></app-dinner>
</div>
<div class="row">
  <div class="col-4">
    <p>A nombre de quién será el pedido?</p>
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Nombre del cliente" aria-label="Recipient's username" aria-describedby="button-addon2">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button" id="button-addon2">Aceptar</button>
        </div>
      </div>
  </div>
</div>