<nav class="navbar navbar-dark  navbar-toggleable-mb sticky-top">
    <button class="navbar-toggler navbar-toggler-left" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> 
      <span class="textBurger text-center">Burger Queen</span>  
      <div>
        <a href="#" class="btn btn-outline-light">Cerrar sesión</a>

      </div>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01"> 
      <div class="navbar-nav mr-auto">
          <a class="nav-item nav-link active" href="#">Inicio</a>
          <a class="nav-item nav-link" href="#">Paquetes</a>
          <a class="nav-item nav-link" href="#">Pricing</a>
          <a class="nav-item nav-link" href="#">Disabled</a>
        </div>
       
      </div>
 </nav>
