<div class="row">
  <div class="col-md-6 mt-2">
    <a href="/">
      <div class="card">
          <img class="card-img-top responsive" src="../../../assets/taza_de_cafe.png" alt="Café americano">
              <div class="card-body">
                <h5 class="card-title">Café americano</h5>
                <p class="card-text"><small class="text-muted">Precio $5.00</small></p>
              </div>
            </div>
          </a>
          <a href="/">
            <div class="card">
              <img class="card-img-top responsive" src="../../../assets/large-cappuccino-whitemug-isolated.png" alt="Café con leche">
              <div class="card-body">
                <h5 class="card-title">Café con leche</h5>
                <p class="card-text"><small class="text-muted">Precio $7.00</small></p>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <a href="/">
            <div class="card">
              <img class="card-img-top responsive" src="../../../assets/sandwich.png" alt="Sandwich">
              <div class="card-body">
                <h5 class="card-title">Sandwich de jamón con queso</h5>
                <p class="card-text"><small class="text-muted">Precio $10.00</small></p>
              </div>
            </div>
          </a>
          <a href="/">
            <div class="card">
              <img class="card-img-top responsive" src="../../../assets/jugo.png" alt="Jugo">
              <div class="card-body">
                <h5 class="card-title">Jugo natural</h5>
                <p class="card-text"><small class="text-muted">Precio $7.00</small></p>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="row">
            <div class="col-md-6 mt-2">
              <a href="/">
                <div class="card">
                  <img class="card-img-top responsive" src="../../../assets/taza_de_cafe.png" alt="Café americano">
                  <div class="card-body">
                    <h5 class="card-title">Café americano</h5>
                    <p class="card-text"><small class="text-muted">Precio $5.00</small></p>
                  </div>
                </div>
              </a>
              <a href="/">
                <div class="card">
                  <img class="card-img-top responsive" src="../../../assets/large-cappuccino-whitemug-isolated.png" alt="Café con leche">
                  <div class="card-body">
                    <h5 class="card-title">Café con leche</h5>
                    <p class="card-text"><small class="text-muted">Precio $7.00</small></p>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <a href="/">
                <div class="card">
                  <img class="card-img-top responsive" src="../../../assets/sandwich.png" alt="Sandwich">
                  <div class="card-body">
                    <h5 class="card-title">Sandwich de jamón con queso</h5>
                    <p class="card-text"><small class="text-muted">Precio $10.00</small></p>
                  </div>
                </div>
              </a>
              <a href="/">
                <div class="card">
                  <img class="card-img-top responsive" src="../../../assets/jugo.png" alt="Jugo">
                  <div class="card-body">
                    <h5 class="card-title">Jugo natural</h5>
                    <p class="card-text"><small class="text-muted">Precio $7.00</small></p>
                  </div>
                </div>
              </a>
            </div>
          </div>
