<div class="row">
  <div class="col-md-3 bf">
    <a href="/">
      <div class="card" style="width: 10em;">
        <img class="card-img-top" src="../../../assets/HAMB_CLASICA_300x270.png" alt="Hamburguesa simple">
            <div class="card-body">
              <h5 class="card-title">Hamburguesa simple</h5>
              <p class="card-text"><small class="text-muted">Precio $10.00</small></p>
            </div>
      </div>
    </a>
  </div>
  <div class="col-md-3 bf">
    <a href="/">
      <div class="card" style="width: 10em">
        <img class="card-img-top" src="../../../assets/HAMBURGUESA DOBLE QUESO TOCINO.png" alt="Hamburguesa doble">
          <div class="card-body">
            <h5 class="card-title">Hamburguesa doble</h5>
            <p class="card-text"><small class="text-muted">Precio $15.00</small></p>
          </div>
      </div>
    </a>
  </div>
</div>
<div class="row">
  <div class="col-md-3 bf">
    <a href="/">
      <div class="card" style="width: 10em">
        <img class="card-img-top" src="../../../assets/papas.png" alt="Papas fritas">
          <div class="card-body">
            <h5 class="card-title">Papas fritas</h5>
            <p class="card-text"><small class="text-muted">Precio $5.00</small></p>
          </div>
      </div>
    </a>
  </div>
  <div class="col-md-3 bf">
    <a href="/">
      <div class="card" style="width: 10em">
        <img class="card-img-top" src="../../../assets/aros.png" alt="Aros de cebolla">
          <div class="card-body">
            <h5 class="card-title">Aros de cebolla</h5>
            <p class="card-text"><small class="text-muted">Precio $5.00</small></p>
          </div>
      </div>
    </a>
  </div>
</div>
<div class="row">
  <div class="col-md-3 bf">
    <a href="/">
      <div class="card" style="width: 10em">
        <img class="card-img-top responsive" src="../../../assets/BEBIDA (AGUA) (17).png" alt="Agua">
          <div class="card-body">
            <h5 class="card-title">Botella de agua</h5>
            <input type="checkbox" aria-label="Checkbox for following text input">          
            <input type="text" class="form-control" aria-label="Text input with checkbox">           
              <p class="card-text"><small class="text-muted">Precio $5.00</small></p>
          </div>
      </div>
    </a>
  </div>
  <div class="col-md-3 bf">
    <a href="/">
      <div class="card" style="width: 10em">
        <img class="card-img-top" src="../../../assets/limonadas-premium.png" alt="Soda">
          <div class="card-body">
            <h5 class="card-title">Soda</h5>
            <p class="card-text"><small class="text-muted">Precio $7.00</small></p>
          </div>
      </div>
    </a>
  </div>
</div>
