<div class="row">
  <div class="col-md-6 mt-2">
    <a href="/">
      <div class="card">
          <img class="card-img-top responsive" src="../../../assets/HAMB_CLASICA_300x270.png" alt="Hamburguesa simple">
              <div class="card-body">
                <h5 class="card-title">Hamburguesa simple</h5>
                <p class="card-text"><small class="text-muted">Precio $10.00</small></p>
              </div>
            </div>
          </a>
          <a href="/">
            <div class="card">
              <img class="card-img-top responsive" src="../../../assets/HAMBURGUESA DOBLE QUESO TOCINO.png" alt="Hamburguesa doble">
              <div class="card-body">
                <h5 class="card-title">Hamburguesa doble</h5>
                <p class="card-text"><small class="text-muted">Precio $15.00</small></p>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <a href="/">
            <div class="card">
              <img class="card-img-top responsive" src="../../../assets/papas.png" alt="Papas fritas">
              <div class="card-body">
                <h5 class="card-title">Papas fritas</h5>
                <p class="card-text"><small class="text-muted">Precio $5.00</small></p>
              </div>
            </div>
          </a>
          <a href="/">
            <div class="card">
              <img class="card-img-top responsive" src="../../../assets/aros.png" alt="Aros de cebolla">
              <div class="card-body">
                <h5 class="card-title">Aros de cebolla</h5>
                <p class="card-text"><small class="text-muted">Precio $5.00</small></p>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 mt-2">
          <a href="/">
            <div class="card">
              <img class="card-img-top responsive" src="../../../assets/BEBIDA (AGUA) (17).png" alt="Agua">
              <div class="card-body">
                <h5 class="card-title">Botella de agua</h5>
                        <input type="checkbox" aria-label="Checkbox for following text input">
                
                
                  <input type="text" class="form-control" aria-label="Text input with checkbox">
                
                <p class="card-text"><small class="text-muted">Precio $5.00</small></p>
              </div>
            </div>
          </a>
          <a href="/">
            <div class="card">
              <img class="card-img-top responsive" src="../../../assets/large-cappuccino-whitemug-isolated.png" alt="Café con leche">
              <div class="card-body">
                <h5 class="card-title">Café con leche</h5>
                <p class="card-text"><small class="text-muted">Precio $7.00</small></p>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <a href="/">
            <div class="card">
              <img class="card-img-top responsive" src="../../../assets/sandwich.png" alt="Sandwich">
              <div class="card-body">
              <h5 class="card-title">Sandwich de jamón con queso</h5>
              <p class="card-text"><small class="text-muted">Precio $10.00</small></p>
              </div>
            </div>
          </a>
          <a href="/">
            <div class="card">
              <img class="card-img-top responsive" src="../../../assets/jugo.png" alt="Jugo">
              <div class="card-body">
                <h5 class="card-title">Jugo natural</h5>
                <p class="card-text"><small class="text-muted">Precio $7.00</small></p>
              </div>
            </div>
          </a>
        </div>
      </div>
