<div class="container">
  <div class="row divs">
    <div class="col-md-8">
      <form>
      <section class="login-form mx-auto">
        <h1>Burguer-queen</h1>
        <div class="form-group">
          <input type="email" name="email" id="nameUser" [(ngModel)]="email" placeholder="Correo electrónico" required class="form-control input-lg" />
        </div>
        <div class="form-group">
          <input type="password" name="password" [(ngModel)]="password" class="form-control input-lg" id="password" placeholder="contraseña" required="" />
        </div>
        <div class="col-md-4">       
          <input type="button" name="signIn" (click)="onSubmitLogin()" value="Iniciar Sesión" class="btn btn-primary btn-block btn-lg">      
        </div>      
      </section>
      </form>
    </div>  
  </div>     
</div>




